extends bagLayout

block style
	link(rel="stylesheet", href="/css/bag.css")

block content
	div.section.page.page1
		div.row
			div.total-count-container
				div.total-count=result.count+'件专利'
					div.dot.left-dot
					div.dot.right-dot
				div.total-count-bg
					span=result.count+'件专利'
		div.row
			p.summary.history-summary !{`${result.adMin}至${result.adMax}您为${result.pa}产出的专利数排名第<strong class="large-text">${result.countRank}</strong>位`}
		div.row
			img(src="/img/page1-2.png", class="paper-plane")
			p.summary.count-summary !{`其中，发明专利<strong class="large-text">${result.fmzlCount}</strong>件，实用新型专利有<strong class="large-text">${result.syxxCount}</strong>件，外观专利有<strong class="large-text">${result.wgsjCount}</strong> 件；`}
		div.row
			img(src="/img/page1-1.png", class='page1-cartoon')
		div.row
			img(src="/img/page-arrow.png", class='page-arrow')

	div.section.page.page2
		div.page2-bg
		div.row
			div.page2-title-container
				div.page2-title 专利排名
					div.dot.left-dot
					div.dot.right-dot
				div.page2-title-bg
					span 专利排名
		div.row
			p.summary.colleague-summary !{`多达<strong class="large-text">${result.partnerCount}</strong>位老师、同事、学生共同合作，覆盖科研领域<strong class="large-text">${result.ipcCount}</strong>个；`}
				img(src="/img/thumb.png", class="thumb")
		div.row.rank-row
			div.rank-table-bg
			div.rank-table
				div.rank-item
					p.rank-name 发明专利
					p.rank-value !{`<strong class="large-text">${result.fmzlRank}</strong>名`}
				div.rank-item
					p.rank-name 实用新型
					p.rank-value !{`<strong class="large-text">${result.syxxRank}</strong>名`}
				div.rank-item
					p.rank-name 外观专利
					p.rank-value !{`<strong class="large-text">${result.wgsjRank}</strong>名`}
		div.row.page2-bottom-row
			img(src="/img/page-arrow.png", class='page-arrow')

	div.section.page.page3
		iframe#collegeFrame.college-frame(src=`/statistics/bag/summary?college=${result.pa}&name=${result.pin}`)
		a.jump-link(href="javascript:;") 统计我的专利
		p#license 以上数据由中高知识产权价值评估系统提供

block script
	script(src='/js/bag.js')
	

