extends bagSummaryLayout

block style
  link(rel="stylesheet", href="/css/bag.css")
  link(rel="stylesheet", href="/css/bagSummary.css")

block content
  div.main
    div.row.top-row
      p !{`专利总数：<strong class="college-patent-count">${result.value.count}件</strong>`}
    div.row.mid-row.mid-row1
      p.time-range !{`（ ${result.value.ad} - ${result.value.now} ）`}
      div.chart-container
        canvas#canPie(width=500,height=500,data-value=`${result.value.fmzlCount},${result.value.syxxCount},${result.value.wgsjCount}`)
        ul.count-list
          li.count-item
            span.color-tip.fmzl-color
            span.count-name 发明专利
            span.count-value=`${result.value.fmzlCount}件`
          li.count-item
            span.color-tip.syxx-color
            span.count-name 实用新型
            span.count-value=`${result.value.syxxCount}件`
          li.count-item
            span.color-tip.wgsj-color
            span.count-name 外观专利
            span.count-value=`${result.value.wgsjCount}件`
      div.rank-clue
        img.leaf.left-leaf(src="/img/left-leaf.png")
        span.rank-clue-txt=`${result.collegeName}第${result.value.countRank}名`
        img.leaf.right-leaf(src="/img/right-leaf.png")  
      div.sperator1

    div.row.mid-row.mid-row2
      div.colleague-container
        img.row2-icon(src="/img/colleague-icon.png")
        p 合作人员数
        p= result.value.kyCount
      div.vertical-seperator
      div.field-container
        img.row2-icon(src="/img/field-icon.png")
        p 涉及领域
        p= result.value.ipcCount

    div.row.mid-row.mid-row3
      ul.rank-list  
        li.rank-item
          p.rank-name 发明专利排名
          p.rank-value= result.value.fmzlRank
        li.rank-item
          p.rank-name 实用新型排名
          p.rank-value= result.value.syxxRank
        li.rank-item
          p.rank-name 外观专利排名
          p.rank-value= result.value.wgsjRank 
    div.row.bottom-row
      p !{`鸣谢：暂无`}

block script
  script(src="/js/bagSummary.js")