extends summaryLayout

block style
  link(rel="stylesheet", href="/css/storeSummary.css")

block content
  div.main
    div.row.top-row
      span.info1 !{`专利总数：<strong class="highlight">${result.value.count}件</strong>`}
      span.info2 !{`科研人员：<strong class="highlight">${result.value.kyCount}位</strong>`}
    img.divider1(src="/img/store/page4-divider1.png")
    div.row.mid-row.mid-row1
      p.time-range !{`（ ${result.value.ad} - ${result.value.now} ）`}
      div.chart-container
        div.pie-container
          img.pie-bg(src="/img/store/page4-pie-bg.png")
          canvas#canPie(width=500,height=500,data-value=`${result.value.fmzlCount},${result.value.syxxCount},${result.value.wgsjCount}`)
        ul.count-list
          li.count-item
            span.color-tip.fmzl-color
            span.count-name 发明专利
            span.count-value=`${result.value.fmzlCount}件`
            img.divider2(src="/img/store/page4-divider2.png")
          li.count-item
            span.color-tip.syxx-color
            span.count-name 实用新型
            span.count-value=`${result.value.syxxCount}件`
            img.divider2(src="/img/store/page4-divider2.png")            
          li.count-item
            span.color-tip.wgsj-color
            span.count-name 外观专利
            span.count-value=`${result.value.wgsjCount}件`
            img.divider2(src="/img/store/page4-divider2.png")            
      div.rank-clue
        img.leaf.left-leaf(src="/img/store/page4-left-leaf.png")
        span.rank-clue-txt=`${result.collegeName}第${result.value.countRank}名`
        img.leaf.right-leaf(src="/img/store/page4-right-leaf.png")  
      img.divider3(src="/img/store/page4-divider3.png")

    div.row.mid-row.mid-row2
      div.colleague-container
        img.row2-icon(src="/img/store/page4-icon1.png")
        p 有效比例
        p.highlight !{`${result.value.validRate*100}%`}
      img.divider4(src="/img/store/page4-divider4.png")
      div.field-container
        img.row2-icon(src="/img/store/page4-icon2.png")
        p 涉及领域
        p.highlight= result.value.ipcCount
    img.divider1(src="/img/store/page4-divider1.png")    
    div.row.mid-row.mid-row3
      img.page4-bg1(src="/img/store/page4-bg1.png")
      ul.rank-list  
        li.rank-item
          p.rank-name 发明专利排名
          p.rank-value.highlight= result.value.fmzlRank
        img.divider5(src="/img/store/page4-divider5.png")
        li.rank-item
          p.rank-name 实用新型排名
          p.rank-value.highlight= result.value.syxxRank
        img.divider6(src="/img/store/page4-divider6.png")        
        li.rank-item
          p.rank-name 外观专利排名
          p.rank-value.highlight= result.value.wgsjRank       
    a.jump-link(href="javascript:;") 统计我的专利
    p#license 以上数据由中高知识产权价值评估系统提供

block script
  script(src="/js/storeSummary.js")