extends layout

block style
	link(rel="stylesheet", href="/css/store.css")

block content
	div.section.page.page1
		img.title(src="/img/store/page1-title.png")
		img.cup(src="/img/store/page1-cup.png")
		p.content1 !{`<span class="highlight-txt">${result.value.kyCount}</span>位科研人员，<span class="highlight-txt">${result.value.count}</span>件专利，覆盖<span class="highlight-txt">${result.value.ipcCount}</span>个研究领域；`}
		div.divider-outter
			div.divider-inner
		p.content2 !{`见证了${result.collegeName}在科研路上的辛勤和汗水。`}
		img.page-arrow(src="/img/store/page-arrow.png")

	div.section.page.page2
		img.title(src="/img/store/page2-title.png")
		img.divider(src="/img/store/page2-divider.png")
		div.content
			img.content-bg(src="/img/store/page2-content-border.png")
			div.content-item.content-item1
				div.item-icon-container
					img.content-item-icon(src="/img/store/page2-icon1.png")
				div.content-item-info
					p.content-item-title !{`<span class="highlight">${result.value.fmzlCount}</span>条发明专利`}
					p.content-item-detail !{`位居全国高效第<span class="highlight">${result.value.fmzlRank}</span>名，技术含金量99.9999%`}
			img.divider1(src="/img/store/page2-divider1.png")
			div.content-item.content-item2
				div.content-item-info
					p.content-item-title !{`<span class="highlight">${result.value.syxxCount}</span>条实用新型`}
					p.content-item-detail !{`位居全国高效第<span class="highlight">${result.value.syxxRank}</span>名，微创新真是如雨后春笋一般！`}
				div.item-icon-container
					img.content-item-icon(src="/img/store/page2-icon2.png")
			img.divider2(src="/img/store/page2-divider2.png")
			div.content-item.content-item3
				div.item-icon-container
					img.content-item-icon(src="/img/store/page2-icon3.png")
				div.content-item-info
					p.content-item-title !{`<span class="highlight">${result.value.wgsjCount}</span>条外观专利`}
					p.content-item-detail !{`位居全国高效第<span class="highlight">${result.value.wgsjRank}</span>，绝对是看颜值、懂审美、有品位的高校！`}
		img.page-arrow(src="/img/store/page-arrow.png")
		img.left-hill(src="/img/store/page2-left-hill.png")
		img.right-hill(src="/img/store/page2-right-hill.png")
	
	div.section.page.page3
		img.title(src="/img/store/page3-title.png")
		img.flags(src="/img/store/page3-deco.png")
		div.page3-content1
			img.page3-content1-bg(src="/img/store/page3-bg2.png")
			p.content1-score !{`${result.value.validRate*100}%`}
			div.page3-content1-info
				span.left-line
				span.text !{`看的出${result.collegeName}对科学研究成果的珍视和与呵护`}
				span.right-line
		div.page3-content2
			img.page3-content2-bg(src="/img/store/page3-bg1.png")
			p.content2-text !{`贵校的（许可+转让率）为${result.value.transferRate*100}%，运营状况良好，打败了全国${(1-result.value.transferRank/2015).toFixed(2)*100}%的高校，继续保持吧！`}
		img.page-arrow(src="/img/store/page-arrow.png")

	div.section.page.page4
		iframe.summary-frame(src=`/statistics/store/summary?college=${result.collegeName}`)

block script
	script(src='/js/store.js')
	

